.figures{
  max-width: 640px;
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-row-gap: 15px;
  justify-content: center;
  padding: 25px;
  background-color: gray;
}

.figure-white {
  color: white;
}

.figure-black {
  color: black;
}

.figure {
  width: 80px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.fas {
  font-size: 40px;
  padding: 5px;
}


.fas:hover {
  box-shadow: 0 0 25px rgba(18, 18, 19, 0.822);
}

.figures__black, .figures__white {
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(6, auto);
}